body {
    background-image: url('./assets/images/white\ imag.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333; 
    margin: 0;
    padding: 20px; 
}

p {
    
    margin-bottom: 20px; 
    line-height: 1.6; 
    font-weight: bold;
    font-size: 18px; 
}

